{% extends "layouts/base-presentation.html" %}
{% load static %}

{% block title %}Location Details{% endblock %}

{% block content %}
  <section class="pt-6 pb-5 mt-2">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="text-center mb-4">
            <h1 class="text-gradient text-primary fw-bold">Location Details</h1>
            <p class="text-muted">Explore details about this location, including its name, address, and description.</p>
          </div>
          <div class="card shadow-lg border-0 p-3 rounded-4 blur">
            <div class="card-body">
              <h2 class="text-gradient text-primary text-center fw-bold mb-4">{{ location.name }}</h2>
              <hr class="mx-auto w-50">
              <div class="mb-4">
                <h5 class="text-muted">Address</h5>
                <p class="fw-bold text-dark">{{ location.address|default:"No address provided" }}</p>
              </div>
              <div class="mb-4">
                <h5 class="text-muted">Description</h5>
                <p class="text-dark">{{ location.description|default:"No description available" }}</p>
              </div>
              <div class="mt-5 d-flex justify-content-center gap-4">
                <a href="{% url 'events:location-list' %}" class="btn btn-outline-secondary px-5 py-3 rounded-3">Back to List</a>
                <a href="{% url 'events:location-update' location.id %}" class="btn btn-primary px-5 py-3 rounded-3 shadow-sm">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

